<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Lecturer</title>
</head>
<body>
	<h1>Add Lecturer</h1>

	<% if (errors != undefined) { %>
		<ul>
			<% errors.forEach((err) => { %>
				<li><%= err.msg %></li>
			<% }) %>
		</ul>
	<% } %>

	<% if (mongoError != undefined) { %>
		<ul>
			<li><%= mongoError %></li>
		</ul>
	<% } %>

	<form action="/addLecturer" method="POST">
		<label>Lecturer ID:</label><br/>
		<input type="text" name="_id" value="<%= _id %>"><br/>
		<label>Name:</label><br/>
		<input type="text" name="name" value="<%= name %>"><br/>
		<label>Dept:</label><br/>
		<input type="text" name="dept" value="<%= dept %>" >
		<input type="submit" value="Add"/>
	</form>

</body>
</html>